.flex-container {
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 600px;
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow:5px 5px 15px rgba(0, 0, 0, 0.1);
  flex-direction: column;
}

.senario-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: fit-content;
}

.description {
  flex-direction: column;
  width: fit-content;

}

.challenge-button {
  background-color: lightblue;
  flex-direction: row;
  width: 150px;
  margin: 8px;
  padding: 6px;
}
  


