.flex-container {
  display:flex;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  width: 600px;
  height: 600px;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow:5px 5px 15px rgba(0, 0, 0, 0.1);
  flex-direction: column;
}

.senario-title {
  background-color:rgb(249, 250, 251);
  display: flex;
  width: 100%;
  height: 100px;
  flex-direction: column;
  text-align: center;
  border-radius: 12px 12px 0 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(243, 244, 246);
}

.description {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;

}

.challenge-button {
  display: flex;
  justify-content: center;
  width: 600px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top-color:rgb(243, 244, 246);
  border-top-style: solid;
  border-top-width: 1px;
  background-color: rgb(249, 250, 251);
  border-radius: 0 0 12px 12px;
}

.button-1 {
  display: flex;
  justify-content: center;
  background-color: rgb(29, 119, 242);
  flex-direction: row;
  font-size: 20px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  width: 400px;
  height: 40px;
}

.button-1 :hover {
  background-color: lightblue;
}




  


